.project-form {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.project-form-container {
  width: 780px;
  position: relative;
}

.project-form-divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--gray-300);
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-form-actions-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.project-form-actions-container > button {
  min-width: 200px;
}
