# These are not necessary if using the Netlify CLI

PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
PROXY_URL="https://cors.isomorphic-git.org"
GIT_REPO_ADMIN_DATA="https://github.com/AVAnnotate/admin-data.git"
GIT_REPO_ORG="AVAnnotate"
GIT_ADMIN_REPO="admin"
PUBLIC_GIT_REPO_PROJECT_TEMPLATE="project-template"
PUBLIC_REDIRECT_URL="http://localhost:4321"

# UTexas GitHub Enterprise Managed User (EMU) OAuth credentials
# Create an OAuth App inside the UTexas enterprise at:
#   https://github.com/enterprises/utexas-internal
# Set the Authorization callback URL to: {PUBLIC_REDIRECT_URL}/git-enterprise
# Leave blank to hide the UTexas EID login button.
PUBLIC_UTEXAS_GITHUB_CLIENT_ID=
UTEXAS_GITHUB_CLIENT_SECRET=