.drag-table {
  width: 100%;
}

.drag-table-header {
  width: 100%;
  background-color: var(--gray-200);
  display: grid;
  align-items: center;
  gap: 5px;
  height: 38px;
}

.drag-table-box {
  border: 1px solid var(--gray-300);
  display: grid;
  align-items: center;
  gap: 5px;
  height: 56px;
}

.drag-table-box-hovered {
  border-bottom: 2px solid var(--blue-hover) !important;
}
