.sets-container .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sets-container .set-name-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}
