.tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs .tab-trigger {
  all: unset;
}

.tabs .tab-content {
  background-color: var(--gray-100);
}

.tabs .tab-list {
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  padding: 0 63px;
}

.tabs .tab-trigger {
  height: 42px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  line-height: 1;
  background-color: transparent !important;
  color: white;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs .tab-trigger:hover {
  cursor: pointer;
  box-shadow: none;
}

.tabs .tab-trigger[data-state='active'] {
  background-color: var(--gray-100) !important;
  color: var(--gray-900);
}

.tabs .tab-trigger .tab-count {
  background-color: var(--gray-200);
  font-size: 10px;
  padding: 0 5px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 700;
}

.tabs .tab-trigger[data-state='active'] .tab-count {
  background-color: var(--primary);
  color: #fff;
}

.tabs .tab-trigger .tab-icon svg {
  height: 20px;
  width: 20px;
  color: var(--gray-500);
}
.tabs .tab-trigger[data-state='active'] .tab-icon svg {
  color: var(--gray-900);
}
