.import-form .form-body {
  margin-bottom: 100px;
}

.import-form-divider {
  width: 100%;
  border-top: 1px solid var(--gray-300);
  margin-top: 32px;
  margin-bottom: 32px;
}

.import-form-description {
  margin-bottom: 10px;
}
.import-form .bottom-bar-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.import-form .bottom-bar-flex button {
  padding: 16px 18px 16px 18px;
}

.import-form .bottom-bar-flex .save-button {
  width: 276px;
}

.import-form .bottom-bar-flex .cancel-button {
  width: 176px;
}

.import-form-event-header {
  display: flex;
  flex-direction: row;
}

.import-form-required {
  color: red;
}

.import-form-event-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.import-form-event-list-divider {
  width: 100%;
  border-top: 1px solid var(--gray-300);
  margin-top: 8px;
  margin-bottom: 8px;
}

.import-form-event-list {
  margin-top: 8px;
}

.form-event-label-ext {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
}

.form-event-description-ext {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.form-event-description-block {
  width: 100%;
}

.form-event-vertical-divider {
  height: 250px;
  width: 1px;
  border-left: 1px solid var(--gray-300);
  margin-right: 10px;
  margin-left: 5px;
}
