.import-form .form-body {
  margin-bottom: 100px;
}

.import-form-divider {
  width: 100%;
  border-top: 1px solid var(--gray-300);
  margin-top: 32px;
  margin-bottom: 32px;
}

.import-form-description {
  margin-bottom: 10px;
}
.import-form .bottom-bar-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.import-form .bottom-bar-flex button {
  padding: 16px 18px 16px 18px;
}

.import-form .bottom-bar-flex .save-button {
  width: 276px;
}

.import-form .bottom-bar-flex .cancel-button {
  width: 176px;
}
