.event-form .form-body {
  margin-bottom: 100px;
}

.event-form .av-files-fields {
  display: flex;
  flex-direction: column;
}

.event-form .av-files-fields .av-file-url-input {
  align-self: flex-end;
  flex-grow: 1;
}

.event-form .av-files-fields .formic-form-field input {
  width: 100%;
  margin-bottom: 10px;
}

.event-form .av-trash-button {
  height: 32px;
  align-self: flex-end;
  margin-bottom: 14px;
  width: 32px;
}

.event-form .av-trash-button svg {
  height: 16px;
  width: 16px;
}

.event-form .formic-form-textarea {
  overflow-y: auto;
}

.event-form .bottom-bar-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.event-form .bottom-bar-flex button {
  padding: 16px 18px 16px 18px;
}

.event-form .bottom-bar-flex .save-button {
  width: 276px;
}

.event-form .bottom-bar-flex .cancel-button {
  width: 176px;
}

.event-form .av-files-fields .av-url-group {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.event-form .av-files-fields .av-url-group .av-select-type select {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.event-form .av-files-fields-line {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: center;
}

.event-form .av-files-fields-line-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: -10px;
}

.event-form .sets-table {
  width: 100%;
}

.event-form .av-duration-input {
  width: 80px;
}

.event-form .av-duration-override {
  padding-bottom: 12px;
  width: 70px;
}

.event-form .av-duration-override-button {
  height: 40px;
}

.event-form .title-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.event-form .av-type {
  width: 10%;
  box-sizing: border-box;
}

.event-form .av-file-label {
  width: 20%;
  box-sizing: content-box;
}

.event-form .av-file-type {
  width: 9%;
  box-sizing: content-box;
}

.event-form .av-file-url {
  width: 47%;
  box-sizing: content-box;
}
