.sign-in-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.sign-in-anchor {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--gray-400);
  padding: 10px !important;
  border-radius: 5px;
  border: 1px solid black;
  color: var(--black) !important;
}

.sign-in-button-text {
  padding-left: 4px;
}
