.build-status-spinner {
  color: white;
}

.build-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: white;
}

.rightTI {
  white-space: nowrap;
  overflow: hidden;
}
