.build-status-spinner {
  color: var(--primary);
}

.build-status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.rightTI {
  white-space: nowrap;
  overflow: hidden;
}
