@import './avatar/index.css';
@import './button/index.css';
@import './dropdown/index.css';
@import './popover/index.css';
@import './popover/index.css';
@import './dialog/index.css';
@import './select/index.css';
@import './toast/index.css';
@import '@radix-ui/themes/styles.css';

@font-face {
  font-family: Inter;
  src: url('/fonts/inter/Inter.ttf');
}

:root {
  /** Colors **/
  --dark-blue: #07498a;
  --bright-blue: #07529a;
  --brighter-blue: #0969c3;
  --light-blue: #88bcf7;
  --sand: #987116;
  --mud-gray: #808073;
  --orange: #e9b44a;

  --gray-950: #0a0a0a;
  --gray-900: #202125;
  --gray-700: #6f747c;
  --gray-600: #818992;
  --gray-500: #93989f;
  --gray-400: #cbd0d7;
  --gray-300: #dadee2;
  --gray-200: #e2e5e9;
  --gray-100: #f3f4f7;
  --gray-50: #f6f7f9;

  --red-500: #da1e26;
  --red-500-10: #da1e261a;
  --red-200: #f25158;
  --orange-500: #ffa929;
  --green-500: #11a011;

  /** Global constants **/
  --border-radius: 3px;
  --link-color: var(--brighter-blue);

  /** Font styles **/
  --font-dark: var(--gray-900);
  --font-light: var(--gray-700);
  --font-semi: rgba(255, 255, 255, 0.65);

  --font-small: 0.875rem;
  --font-tiny: 13px;

  /** Borders **/
  --border-light-color: var(--gray-300);

  /** Buttons **/
  --button-background-color: var(--gray-50);
  --button-border-color: var(--gray-300);
  --button-border-radius: var(--border-radius);
  --button-focus-outline-color: rgb(22, 97, 202, 0.2);
  --button-font-color: var(--font-dark);
  --button-hover-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.1);
  --button-primary-background: var(--primary);

  /** Inputs **/
  --input-border-color: var(--gray-300);
  --input-border-radius: var(--border-radius);
  --input-error-color: var(--red-500);
  --input-focus-border-color: var(--bright-blue);
  --input-label-color: var(--font-light);
  --input-text-color: var(--font-dark);

  /** Palette **/
  --primary: #015f86;
  --primary-light: #b2ceda;
  --secondary: #303f49;
  --red: #db2828;
  --green: #22ad5c;
  --black: #0a0a0a;
  --white: #ffffff;

  --color-background: var(--gray-200);
}

html {
  height: 100%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.radix-themes {
  background-color: var(--gray-100);
}

a[href] {
  color: var(--link-color);
  text-decoration: none;
  padding: 2px 2px;
}

a[href]:hover {
  text-decoration: underline;
}

a:focus-visible {
  background-color: rgb(22, 97, 202, 0.15);
  border-radius: var(--border-radius);
  outline: none;
}

h1 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.02ch;
  line-height: 140%;
  margin: 0.8em 0;
  padding: 0;
}

h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  margin: 1em 0;
  padding: 0;
}

h3 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  margin: 1em 0;
  padding: 0;
}

.av-label {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  color: var(--gray-600);
}

.av-label-bold {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}

.av-label-italic {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  color: var(--gray-600);
  font-style: italic;
}

.av-body-small {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.av-caption {
  font-family: Inter;
  font-size: 10px;
}

.av-body-small-italic {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}

p {
  margin: 0.8em 0;
  padding: 0;
}

input,
textarea {
  font-family: Inter;
  padding: 6px 8px;
}

.icon-button-text {
  padding-left: 2px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

.SeparatorRoot {
  background-color: var(--gray-300);
}

.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
  margin: 20px 0;
}
