.project-form {
  width: 100%;
}

.project-form-container {
  width: 780px;
  padding-bottom: 75px;
  margin-bottom: 72px;
}

.project-form-divider {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--gray-300);
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-form-actions-container {
  width: 100%;
}
