.slate-form {
  background: white;
  width: 100%;
}

.slate-form .slate-toolbar {
  background: var(--gray-300);
  display: flex;
  gap: 8px;
  padding: 0px 12px 0px 12px;
  align-items: center;
}

.slate-form .slate-toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  height: 32px;
  width: 32px;
}

.slate-form .slate-toolbar svg {
  height: 16px;
  width: 16px;
  color: #000;
}

.slate-form .slate-toolbar .toolbar-separator {
  width: 1px;
  height: 20px;
  background-color: var(--gray-500);
}

.slate-form .active-button {
  background-color: var(--gray-400);
}

.slate-form .formic-form-textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.slate-form s {
  text-decoration: line-through;
}

.slate-form .slate-highlight-color-button:hover {
  cursor: pointer;
  height: auto;
}
