.slate-form {
  background: white;
  width: 100%;
}

.slate-form .slate-toolbar {
  background: var(--gray-300);
  display: flex;
  gap: 8px;
  padding: 0px 12px 0px 12px;
  align-items: center;
}

.slate-form .slate-toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  height: 32px;
  width: 32px;
}

.slate-form .slate-toolbar svg {
  height: 16px;
  width: 16px;
  color: #000;
}

.slate-form .slate-toolbar .toolbar-separator {
  width: 1px;
  height: 20px;
  background-color: var(--gray-500);
}

.slate-form .active-button {
  background-color: var(--gray-400);
}

.slate-form .formic-form-textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.slate-form s {
  text-decoration: line-through;
}

.slate-form .slate-highlight-color-button:hover {
  cursor: pointer;
  height: auto;
}

.slate-form .slate-dialog-overlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.slate-form .slate-dialog-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.slate-form .slate-dialog-content h2 {
  margin: 10px;
}

.slate-form .slate-dialog-content label {
  display: flex;
  flex-flow: column;
  gap: 10px;
  margin-bottom: 20px;
}

.slate-form .slate-dialog-content .slate-dialog-close-bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.slate-form .slate-dialog-content .slate-dialog-close-bar button {
  width: 100px;
}
