.project-container {
  margin: 20px auto;
  max-width: 1200px;
}

.project-container .project-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.project-container .project-top-bar .project-title {
  font-size: 24px;
}

.project-container .project-top-bar .project-top-bar-buttons {
  display: flex;
  gap: 12px;
}

.project-dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
