.tags-container {
  box-sizing: border-box;
  width: 100%;
}

.tags-no-tags-container {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px dotted var(--gray-500);
}

.tags-no-tags-buttons {
  display: flex;
  gap: 10px;
}
.tags-add-tag-group-button {
  color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: none !important;
}

.tags-grid {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}

.tag-group-card-container {
  width: 284px;
  height: 360px;
  overflow-y: hidden;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  position: relative;
}

.tag-group-card-container-expanded {
  width: 284px;
  background-color: var(--white);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  position: relative;
  padding-bottom: 48px;
}

.tag-group-card-empty {
  width: 284px;
  height: 360px;
  background-color: var(--white);
  border: 1px dotted var(--gray-300);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tag-group-card-empty-button {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  color: var(--gray-500);
  cursor: pointer;
}

.tag-group-card-header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid var(--gray-300);
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.tag-group-card-menu-button {
  background-color: transparent;
  border-radius: 50%;
}

.tag-group-card-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 6px 24px;
  box-sizing: border-box;
}

.tag-group-card-row:hover {
  background-color: var(--gray-100);
}

.tag-group-card-pill {
  height: 28px;
  width: 130px;
  border-radius: 14px;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tag-group-card-pill-value {
  color: var(--black);
  font-size: 10px;
  width: 120px;
}

.tag-group-card-pill-value-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-group-card-pill-count {
  color: var(--black);
  font-size: 10px;
}

.tag-group-card-row-actions {
  display: flex;
  visibility: hidden;
}

.tag-group-card-row:hover .tag-group-card-row-actions {
  display: flex;
  visibility: visible;
}

.tag-group-card-action-button {
  background-color: transparent !important;
  border-radius: 50% !important;
}

.tag-group-card-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.tag-group-card-footer-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 48px;
  background-color: var(--gray-200);
  cursor: pointer;
}

.tag-group-card-footer-button:hover {
  background-color: var(--gray-100);
}

.tag-group-card-show {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 48px;
  left: 0;
  cursor: pointer;
}

.tag-group-card-show-less {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tag-group-card-show-less:hover {
  background-color: var(--gray-100);
}

.tag-group-card-show:hover {
  background-color: var(--gray-100);
}

.tags-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -8px 0;
}

.tags-csv-button,
.tags-create-tag-group-button,
.tags-empty-button {
  height: 38px;
  padding: 10px 24px;
}
