.event-detail * {
  box-sizing: border-box;
}

.event-detail .event-title-container {
  height: 48px;
  display: flex;
  align-items: center;
}

.event-detail .event-title-container .container {
  width: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.event-detail .event-title-container h1 {
  padding: 0;
  margin: 0;
  display: inline;
  flex-grow: 1;
}

.event-detail-tab-content {
  background: #ffffff;
  border-top: 1px solid var(--gray-200);
  z-index: 2;
}

.event-detail-tab-content h2 {
  margin-top: 32px;
  margin-bottom: 20px;
  padding: 0;
}

.event-detail .annotation-table-container {
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
}

.event-detail .annotation-display h3 {
  font-size: 16px;
  font-weight: 600;
}

.event-detail .event-detail-table-container {
  overflow-y: auto;
  background-color: #ffffff;
}

.event-detail .empty-annos-note {
  text-align: center;
  width: 100%;
}

.event-detail .empty-annos-note .empty-annos-buttons {
  margin-top: 10px;
}

.event-detail .header-row .rt-TableColumnHeaderCell {
  padding: 0;
  height: 32px;
  background: var(--gray-200);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.event-detail .tags-header-cell {
  width: 300px;
}

.event-detail .rt-TableColumnHeaderCell .header-cell-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.event-detail .rt-TableColumnHeaderCell {
  border-top: 1px solid var(--gray-200);
}

.event-detail .rt-TableCell {
  border-left: 1px solid var(--gray-200);
  border-right: 1px solid var(--gray-200);
}

.event-detail .annotation-cell p,
.event-detail .timestamp-cell p {
  margin: 0;
}

.event-detail .searchbox {
  margin: 0;
  height: 32px;
  padding: 0 8px;
  width: auto;
}

.csv-button,
.edit-button {
  border: 1px solid var(--gray-900);
  background: none;
  color: var(--gray-900);
}

.csv-button svg,
.edit-button svg {
  color: var(--gray-900);
}

.delete-button {
  border: 1px solid #db2828;
  background: none;
  color: #db2828;
}

.delete-button svg {
  color: #db2828;
}

.event-detail .event-detail-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
  border: 1px solid var(--gray-200);
}

.event-detail .annotation-table-row:hover {
  background: var(--gray-100);
}

.event-detail .annotation-table-row .annotation-data-cell:hover {
  cursor: pointer;
}

.event-detail .timestamp-column {
  width: 180px;
}

.audio-event-detail .text-column {
  width: 50%;
}

.event-detail .options-column {
  width: 30px;
}

.event-detail .meatball-cell {
  padding: 0;
  height: 100%;
  width: 30px;
}

.event-detail .meatball-cell .meatball-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.event-detail .meatball-cell .meatball-menu-icon {
  width: 28px;
  height: 28px;
}

.event-detail .event-detail-table-header .header-buttons {
  display: flex;
  gap: 12px;
  width: 100%;
}

.event-detail .audio-event-detail-tab .header-buttons {
  justify-content: space-between;
}

.event-detail .video-event-detail-tab .event-detail-table-container {
  background: var(--gray-100);
  border-top: 1px solid var(--gray-200);
}

.event-detail .video-event-detail-tab .event-detail-table-header {
  background: var(--gray-100);
}

.event-detail .video-event-detail-tab .event-detail-table-container .rt-TableCell {
  background: #ffffff;
}

.event-detail .video-event-detail-tab .event-detail-table-header .header-buttons {
  padding: 0 6px;
}

.event-detail .video-event-detail-tab .event-detail-table-header .header-buttons .formic-form-text {
  width: 100%;
}

.event-detail .video-event-detail-tab .event-detail-table-header .header-buttons .formic-form-field {
  flex-grow: 1;
}

.event-detail .header-buttons .buttons {
  display: flex;
}

.event-detail .video-event-detail-tab .video-annotations-header {
  font-size: 18px;
  margin-bottom: 16px;
  margin: 0 6px;
}

.event-detail .tag-cell-container,
.event-detail .invisible-tag-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.invisible-tag-holder {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.event-detail .tag-cell-container .tag-cell-overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: var(--gray-200);
  padding: 4px 10px;
  font-weight: 700;
}

.event-detail .tag-item {
  border-radius: 50px;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
}

.event-detail .formic-form-field {
  display: flex;
  align-items: center;
  position: relative;
}

.event-detail .formic-form-text {
  width: 260px;
}

.event-detail .formic-form-field svg {
  position: absolute;
  right: 10px;
  height: 16px;
  width: 16px;
}

.event-detail .meatball-menu-button {
  display: inline-flex;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: none;
}

.event-detail .meatball-menu-button svg {
  position: relative;
  top: 1px;
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  fill: black;
}

.event-detail .annotation-tab-meatball-button {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.event-detail .annotation-tab-meatball-button svg {
  transform: scale(1.2);
  position: relative;
  top: 1px;
}

.event-detail .vertical-divider {
  width: 1px;
  height: 16px;
  border-left: 1px solid var(--gray-300);
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-detail .video-event-detail-tab {
  display: flex;
  gap: 10;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  border-top: 1px solid var(--gray-200);
}

.event-detail .video-event-detail-tab .event-detail-table-header {
  display: block;
}

.event-detail .video-event-detail-tab .player {
  height: 480px;
}

.event-detail .video-event-detail-tab video {
  max-height: 100%;
  width: 100%;
}

.event-detail .video-event-detail-tab .event-detail-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 26px;
  max-height: 100%;
}

.event-detail .video-event-detail-tab .annotation-table-container {
  width: 33%;
  border: none;
  background-color: var(--gray-200);
}

.event-detail .video-event-detail-tab .event-detail-table-header {
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.event-detail .video-event-detail-tab .annotation-table-container .event-detail-table-container {
  overflow-y: auto;
  padding: 0 26px;
}

.event-detail .video-event-detail-tab .set-select-row {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  padding: 6px;
}

.event-detail .citation {
  padding: 10px 0;
}