---
import Base from '../../layouts/Base.astro';
import { getLangFromUrl } from '@i18n';
import '@themes/default/index.css';
import { getTranslations } from '@i18n';
import { SignInGitHub } from '@components/SignInGithub';

const lang = getLangFromUrl(Astro.url);

const i18n = getTranslations(Astro.request, 'sign-in');

const cook = Astro.cookies.get('access-token');

const token = cook ? cook.value : undefined;

if (token) {
  return Astro.redirect(`/${lang}/projects`);
}
---

<Base title='Welcome to AVAnnotate.'>
  <>
    <div class='title'>{i18n.t['Welcome to AVAnnotate']}</div>
    <SignInGitHub i18n={i18n} client:only='react' />
  </>
  <style>
    .title {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      font-size: 24px;
      padding-bottom: 32px;
    }
  </style>
</Base>
