.projects-container {
  margin-left: 42px;
  margin-right: 42px;
}

.projects-header-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  padding-top: 32px;
  width: 100%;
}
