.projects-container {
  margin-left: 42px;
  margin-right: 42px;
}

.projects-header-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
