.manifest-toggle {
  display: flex;
  margin-top: 24px;
}

.manifest-toggle .create-manifest-button {
  border-radius: 5px 0 0 5px;
  margin: 0 !important;
  width: 200px;
  height: 38px;
}

.manifest-toggle .import-manifest-button {
  border-radius: 0 5px 5px 0;
  margin: 0 !important;
  width: 200px;
  height: 38px;
}

.new-event-container {
  padding-bottom: 60px;
}
