---
import '@themes/default/index.css';
import { Theme } from '@radix-ui/themes';
import { TopBar } from '@components/TopBar';
import { getTranslations } from '@i18n';
import type { MyProfile } from '@ty/Types.ts';

interface Props {
  title: string;
  profile: MyProfile;
}

const { profile, title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <TopBar
      i18n={getTranslations(Astro.request, 'landing-page')}
      onError={() => {}}
      me={profile}
      client:load
    />
    <Theme>
      <div class='slot'>
        <slot />
      </div>
    </Theme>
  </body>
</html>

<style>
  .slot {
    padding: 60px 0;
  }
</style>
