.formic-form-required {
  color: red;
}

.formic-form-label {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.formic-form-helper-text {
  margin-top: 3px;
  margin-bottom: 5px;
}

.formic-form-text {
  width: 650px;
  height: 30px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  background-color: var(--white);
}

.formic-form-textarea {
  padding-top: 3px;
  width: 650px;
  height: 130px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.formic-form-select {
  width: 390px;
  height: 40px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.formic-form-switch {
  margin-top: 16px;
}

.formic-form-switch-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.formic-form-switch-button {
  width: 150px;
  height: 36px;
  background-color: transparent !important;
  border: 1px solid var(--gray-500) !important;
  color: var(--gray-600) !important;
  margin-left: 0 !important;
}

.formic-form-switch-button-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.formic-form-switch-button-middle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.formic-form-switch-button-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.formic-form-switch-button-selected {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border: none !important;
}

.formic-form-switch-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-top: 16px;
}

.formic-toggle-switch {
  background-color: var(--gray-300);
  width: 50px;
  min-width: initial;
  height: 26px;
  border-radius: 30px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
}

.formic-toggle-switch-icon {
  display: none;
  color: white;
  position: absolute;
  height: 14px;
  width: 14px;
  left: 8px;
  top: 6px;
}

.formic-toggle-switch[data-state='checked'] {
  background-color: var(--primary);
}

.formic-toggle-switch[data-state='checked'] .formic-toggle-switch-icon {
  display: initial;
}

.formic-toggle-switch-thumb {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(-60%);
  will-change: transform;
}

.formic-toggle-switch-thumb[data-state='checked'] {
  transform: translateX(60%);
}

.formic-user-list {
  padding-top: 10px;
}

.formic-user-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.formnic-user-list-user-box {
  display: flex;
  flex-direction: row;
}

.formic-user-list-add {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formic-add-user-input {
  margin-left: 5px;
}

.formic-user-list-names {
  margin-left: 8px;
}

.formic-add-user-save-button {
  margin-left: 5px;
}

.formic-user-list-delete-button {
  background-color: transparent !important;
}

.formic-spreadsheet-input .file-input-top-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--gray-300);
  border: 1px solid var(--gray-400);
  box-sizing: border-box;
  width: 476px;
  padding: 6px 16px 6px 16px;
  font-weight: 400;
  color: var(--gray-900);
}

.formic-spreadsheet-input .choose-file-button {
  border: 1px solid var(--gray-600);
  background-color: transparent !important;
  justify-content: center;
  min-width: 80px;
  outline: none;
  padding: 6px 16px 6px 16px;
  transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  border-radius: 4px;
  font-weight: 600;
}

.formic-spreadsheet-input .choose-file-button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.06);
}

.formic-spreadsheet-input-el {
  display: none;
}

.formic-spreadsheet-input .file-input-done {
  display: flex;
  align-items: center;
  gap: 8px;
}

.formic-spreadsheet-input .options-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 800px;
}

.spreadsheet-preview-table {
  overflow-x: auto;
  margin-top: 30px;
  max-width: 800px;
}

.spreadsheet-input-table {
  margin-top: 30px;
  max-width: 800px;
}

.spreadsheet-input-table .spreadsheet-input-table-header {
  background-color: var(--gray-300);
}

.spreadsheet-input-table .rt-TableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spreadsheet-input-table .rt-TableCell {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  box-shadow: none;
}

.spreadsheet-input-table .preview-data-cell {
  display: grid;
  grid-template-columns: 100fr 1fr;
  gap: 10px;
}

.spreadsheet-input-table .preview-data-cell span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spreadsheet-input-table .import-as-cell .select-trigger {
  width: 90%;
}

.select-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--gray-300);
  width: 100%;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  color: var(--gray-900);
  box-shadow: none;
  text-align: left;
}

.select-trigger:hover {
  background-color: var(--mauve-3);
}

.select-trigger:focus {
  box-shadow: 0 0 0 2px black;
}

.select-trigger[data-placeholder] {
  color: var(--gray-400);
}

.select-content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  text-align: left;
  width: var(--radix-select-trigger-width);
}

.select-viewport {
  padding: 5px;
}

.select-item {
  font-size: 14px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 8px 14px 8px 14px;
  position: relative;
  user-select: none;
}

.select-item[data-disabled] {
  pointer-events: none;
  color: var(--gray-500);
}

.select-item[data-highlighted] {
  outline: none;
  background-color: var(--gray-300);
  cursor: pointer;
}

.select-item .required-asterisk {
  margin-left: 4px;
  color: red;
}

.select-itemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.formic-spreadsheet-display-preview-button {
  height: 40px;
  width: 80px;
}

.formic-form-error {
  color: red;
}
