.formic-form-required {
  color: red;
}

.formic-form-label {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.formic-form-helper-text {
  margin-top: 3px;
  margin-bottom: 5px;
}

.formic-form-text {
  width: 650px;
  height: 30px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
  background-color: var(--white);
}

.formic-form-textarea {
  padding-top: 3px;
  width: 650px;
  height: 130px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.formic-form-select {
  width: 390px;
  height: 40px;
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.formic-form-switch {
  margin-top: 16px;
}

.formic-form-switch-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.formic-form-switch-button {
  width: 150px;
  height: 36px;
  background-color: transparent !important;
  border: 1px solid var(--gray-500) !important;
  color: var(--gray-600) !important;
  margin-left: 0 !important;
}

.formic-form-switch-button-left {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.formic-form-switch-button-middle {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.formic-form-switch-button-right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.formic-form-switch-button-selected {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border: none !important;
}

.formic-toggle-switch {
  background-color: transparent !important;
}

.formic-user-list {
  padding-top: 10px;
}

.formic-user-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--gray-300);
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.formnic-user-list-user-box {
  display: flex;
  flex-direction: row;
}

.formic-user-list-add {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formic-add-user-input {
  margin-left: 5px;
}

.formic-user-list-names {
  margin-left: 8px;
}

.formic-add-user-save-button {
  margin-left: 5px;
}

.formic-user-list-delete-button {
  background-color: transparent !important;
}
