.new-project-container {
  margin-top: 32px;
  margin-left: 42px;
  overflow-y: hidden;
}

.new-project-panes {
  display: flex;
  flex-direction: row;
}

.new-project-form-container {
  overflow-y: hidden;
}
